body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    background: url("pictures/background.png")  no-repeat center top fixed;
    background-size: cover;
    font-size:2em;
}

.content {
    width:66%;
    margin:auto;
    margin-top:1em;
    margin-bottom:1em;
    padding:1em;
    background-color:rgba(255, 255, 255, 0.75);
    box-shadow: 2pt 2pt 8pt rgba(0, 0, 0, 0.5);
}

.divider {
    width:100%;
    height:1pt;
    background-color:black;
    margin-top: 1em;
}

p span {
    display: inline-block;
}

.link-div {
    text-decoration: none;
    color:initial;
    display:inline-block;
}

.logo {
    height:8em;
    width:8em;
    padding:1em;
}

.tooltip {
    height:0;
    background-color: rgba(224, 32, 32, 0.66);
    overflow: hidden;
}

input {
    height:1.5em;
    width:50%;
    font-size:2em;
    text-align:center;
    margin:0.25em;
    box-shadow: 2pt 2pt 8pt rgba(0, 0, 0, 0.5);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width:90%;
    margin:auto;
}
tr, td {
    text-align:center;
    border: 1px solid #ccc;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #dcdcdc;
}
